# Python Crash Course

## Data Types

### 1. Numbers

In [2]:
1+1

2

In [3]:
1*8

8

In [4]:
3/5

0.6

In [5]:
6%2

0

In [6]:
5%2

1

In [7]:
(4+5) * (2+2)

36

### 2. Variables

In [8]:
x = 2
y = 5
z = x + y
z

7

### 3. Strings

In [9]:
'Siddhesh Daphane'

'Siddhesh Daphane'

In [10]:
"Siddhesh Daphane"

'Siddhesh Daphane'

In [11]:
"  Siddhesh Daphane     "

'  Siddhesh Daphane     '

### 4. Printing

In [12]:
x = "Siddhesh Daphane"

In [13]:
x

'Siddhesh Daphane'

In [14]:
print(x)

Siddhesh Daphane

In [15]:
age = 27
name = 'Siddhesh Daphane'

In [16]:
print(f'My name is {name} and I am {age} years old')

My name is Siddhesh Daphane and I am 27 years old

### 5. Lists

In [17]:
l1 = [1,2,3]
l1

[1, 2, 3]

In [18]:
my_list = ['Siddhesh',2,3,[4,5,6]]
my_list

['Siddhesh', 2, 3, [4, 5, 6]]

In [19]:
my_list.append('Daphane')

In [20]:
my_list

['Siddhesh', 2, 3, [4, 5, 6], 'Daphane']

In [21]:
my_list[0]

'Siddhesh'

In [22]:
my_list[3]

[4, 5, 6]

In [23]:
my_list[1:]

[2, 3, [4, 5, 6], 'Daphane']

In [24]:
my_list[:1]

['Siddhesh']

In [25]:
my_list[0] = 'University'
my_list

['University', 2, 3, [4, 5, 6], 'Daphane']

In [26]:
l2 = [1,2,3,4,5,[10,20,['Daphane']]]

In [27]:
l2[5]

[10, 20, ['Daphane']]

In [28]:
l2[5][1]

20

In [30]:
l2[5][2]

['Daphane']

### 6. Dictionaries

In [35]:
d = {'name':'Siddhesh','age':27, 'city':'Dallas'}
d

{'name': 'Siddhesh', 'age': 27, 'city': 'Dallas'}

In [36]:
d['name']

'Siddhesh'

In [37]:
d.get('name')

'Siddhesh'

In [38]:
d.get('age')

27

In [39]:
d.items()

dict_items([('name', 'Siddhesh'), ('age', 27), ('city', 'Dallas')])

In [40]:
print(list(d.items()))

[('name', 'Siddhesh'), ('age', 27), ('city', 'Dallas')]

In [41]:
d.keys()

dict_keys(['name', 'age', 'city'])

In [42]:
print(list(d.keys()))

['name', 'age', 'city']

In [43]:
d.values()

dict_values(['Siddhesh', 27, 'Dallas'])

In [44]:
print(list(d.values()))

['Siddhesh', 27, 'Dallas']

In [45]:
removed_value = d.pop('age')
print(removed_value)
print(d)

27
{'name': 'Siddhesh', 'city': 'Dallas'}

In [47]:
d.update({'country':'USA'})
print(d)

{'name': 'Siddhesh', 'city': 'Dallas', 'country': 'USA'}

In [51]:
first_dict = {
    "name": "freeCodeCamp", 
    "founder": "Quincy Larson",
    "type": "charity", 
    "age": 8, 
    "price": "free", 
    "work-style": "remote",
}

In [52]:
first_dict.popitem() # Removes last item from dict. 
print(first_dict)

{'name': 'freeCodeCamp', 'founder': 'Quincy Larson', 'type': 'charity', 'age': 8, 'price': 'free'}

In [53]:
second_dict = first_dict.copy()
print(second_dict)

{'name': 'freeCodeCamp', 'founder': 'Quincy Larson', 'type': 'charity', 'age': 8, 'price': 'free'}

In [54]:
second_dict.clear()
print(second_dict)

{}

### 7. Tuples

In [55]:
t = (1,2,3)

In [56]:
t[0]

1

In [57]:
t[2] = 'Siddhesh'

TypeError: 'tuple' object does not support item assignment

### 8. Sets

In [58]:
{1,2,3}

{1, 2, 3}

In [59]:
{1,2,2,2,2,2,3,3,4,5,6,7,8,9,90,1}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 90}

### 9. Comparison Operators

In [60]:
1>2

False

In [61]:
1<2

True

In [62]:
1>=1

True

In [63]:
1<=4

True

In [64]:
1==1

True

In [65]:
'Hi' == 'hi'

False

### 10. Logic Operators

In [66]:
(1>2) and (2<3)

False

In [67]:
(1>2) or (2<3)

True

In [68]:
(1==2)or(2==3)or(5==5)

True

### 11. if, elif, else statements

In [69]:
if 1 < 2:
    print('Yes')

Yes

In [70]:
if 1>2:
    print('yes')
else:
    print('no')

no

In [71]:
if 1 > 2:
    print('Yes')
elif 1 < 2:
    print('no')
else:
    print('Dont know')

no

### 12. for loops